<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>R&M</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="../static/cssInicio/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="../static/cssInicio/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/cssInicio/swiper-bundle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--Swiper css-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    

</head>
<body>
    <header>
        <!--Menu y slider 2X1-->

        <a href="#" class="brand">RyM</a>
            <div class="menu-btn"></div>
        <div class="navegacion">
            <div class="navegacion-obj">
                <a href="#">Inicio</a>
                <a href="#">Nosotros</a>
                <a href="#">Contactanos</a>
                <a href="/login">Iniciar Sesion</a>
        </div>
            </div>

    </header>

    <section class="home">

        <video class="video-slide active" src="../static/resources\XD.mp4" autoplay muted loop></video>

        <div class="content active">
            <h1>MetalMecánica<br><span>RyM</span></h1>
            <p>somos una empresa de confianza que hace lo mejor por nuestros clientes 
                bienvenido a nuestra pagina web.</p>
            <a href="#">Read More</a>
        </div>
        

        <div class="media-icons">
            <a href="#"><i class="uil uil-facebook-f"></i></a>
            <a href="#"><i class="uil uil-instagram"></i></a>
            <a href="#"><i class="uil uil-twitter"></i></a>
        </div>


        </div>

    </section>

<!-- Carusel categorias-->

<!-- Chat -->



<!--  ----------------------------------------->



<div class="Fondo">
    <section id="main-slider">

        <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <!--Categoria 1-->

          <div class="swiper-slide">
            <div class="main-slider-box">
                <div class="main-slider-img">
                    <img src="../static\img\nosotros.jpg" alt="">
                </div>
    
                <div class="main-slider-text">
                    <span class="quality">Nosotros</span>
                    <div class="info">
                        <h1>      </h1>
                        <p>hacemos parte de las mejores empresas de metamecanica nustra calidad es de las mejores y con mucho esfuerzo nos hemos ganado un lugar entre las mejores</p>
                            <a href="" class="btn">Read More</a>
                    </div>
                </div>
    
    
            </div>
          </div>
                      <!--Categoria 4-->

                      <div class="swiper-slide">
                        <div class="main-slider-box">
                            <div class="main-slider-img">
                                <img src="../static\img\clientes.jpeg" alt="">
                            </div>
                
                            <div class="main-slider-text">
                                <span class="quality">clientes</span>
                                <div class="info">
                                    <h1>      </h1>
                                    <p>Los clientes son la parte mas esencial de nustro trabajo por eso hemos trrabjado para satisfacer sus nesecidades dale ver mas para saber mas informacion</p>
                                        <a href="" class="btn">Read More</a>
                                </div>
                            </div>
                
                
                        </div>
                      </div>

                                  <!--Categoria 5-->

          <div class="swiper-slide">
            <div class="main-slider-box">
                <div class="main-slider-img">
                    <img src="../static\img\servicios.jpeg" alt="">
                </div>
    
                <div class="main-slider-text">
                    <span class="quality">Servicios</span>
                    <div class="info">
                        <h1>      </h1>
                        <p>los servicios que ofrece nuestra empresa son unicos ya que nustros clientes quedan satisfechos y nos dan una buena bonificacion por ello que es contarle a los demas de nuestro trabajo</p>
                            <a href="" class="btn">Read More</a>
                    </div>
                </div>
    
    
            </div>
          </div>

                      <!--Categoria 6-->

                      <div class="swiper-slide">
                        <div class="main-slider-box">
                            <div class="main-slider-img">
                                <img src="../static\img\proyectos-tecnologicos-portada.jpg" alt="">
                            </div>
                
                            <div class="main-slider-text">
                                <span class="quality">Proyectos</span>
                                <div class="info">
                                    <h1>      </h1>
                                    <p>nuestros proyectos podrian variar de acuerdo a nustro cliente siempre intentamos hacer lo posible por tener una buena gestion de nuestros proyectos y sacar adelante nuestra empresa</p>
                                        <a href="" class="btn">Read More</a>
                                </div>
                            </div>
                
                
                        </div>
                      </div>

        </div>
        <div class="slider-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    </section>

    <div class="fondo-a">

    <section>
        <div class="page-section">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                  <div class="subhead">Sobre Nosotros</div>
                  <h2 class="title-section">Somos una <span class="fg-primary">una empresa colombiana</span>creada hace 7 años</h2>
      
                  <p>nos especializamos en la elaboracion de estructura metálica en general. Nuestra filosofia de trabajo esta orientada 
                    a lograr la satisfacción de nuestros clientes en el menor tiempo posible atravez de una atención especializada
                    y personalizada para que obtenga un asesoramiento de acuerdo a sus nesecidades</p>
      
                  <a href="about.html" class="btn btn-primary mt-4">Read More</a>
                </div>
                <div class="col-lg-6 py-3">
                  <div class="about-img">
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .page-section -->

    </section>

    <section>

    </section>

    </div>

    <footer>
        <div class="footercontainer">
            <div class="social">
                <a href=""><i class='bx bxl-facebook'></i></a>
                <a href=""><i class='bx bxl-instagram' ></i></a>
                <a href=""><i class='bx bxl-tiktok' ></i></a>
                <a href=""><i class='bx bxl-google-plus' ></i></a>
                <a href=""><i class='bx bxl-twitter' ></i></a>
            </div>
            <div class="footernav">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Our Team</a></li>
                </ul>
            </div>
            <div class="footerBottom">
                <p>CopyRight &copy;2023; Designed by <span class="designer">RyM</span></p>
            </div>
        </div>
    </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


    <script type="text/javascript" src="../static/jsInicio\Java.js"></script>
    <script type="text/javascript" src="../static/jsInicio\swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../static/jsInicio\Swiper.js"></script>
    <script type="text/javascript" src="../static/jsInicio\jquery-3.4.1.slim"></script>
</body>
</html>